Repository owncloud/files_texteditor, pull requests merged in 2018-11, with the labels that each got.

#255 failOnWarning="true"
  tests/phpunit.xml
Labels: 3 - To review

#259 Add Make commands for style check and unit tests
  .gitignore
  .php_cs.dist
  Makefile
  composer.json
  composer.lock
  vendor-bin/owncloud-codestyle/composer.json
Labels: 4 - To release, QA-team, dev:acceptance-tests

#261 use new CRUD page object
  tests/acceptance/features/lib/TextEditorPage.php
Labels: 3 - To review, QA-team, dev:acceptance-tests

#257 Add CI tests to drone
  .drone.yml
  .gitignore
  Makefile
  phpunit.xml
  tests/bootstrap.php
  tests/travis/start_php_unit_tests.sh
Labels: 4 - To release, QA-team, dev:acceptance-tests

#262 Delete Travis
  .travis.yml
  tests/travis/start_coverage_report.sh
  tests/travis/start_php_lint_tests.sh
  tests/travis/start_php_unit_tests.sh
  tests/travis/start_ui_tests.sh
Labels: 3 - To review, QA-team

#252 Update changelog and set version to 2.3.0
  CHANGELOG.md
  appinfo/info.xml
Labels: 3 - To review

#263 add --remote for running acceptance tests
  Makefile
Labels: 4 - To release, QA-team, dev:acceptance-tests

#264 Adjust acceptance test steps changed in core
  tests/acceptance/features/webUITextEditor/createTextFiles.feature
  tests/acceptance/features/webUITextEditor/editTextFiles.feature
Labels: 3 - To review, QA-team, dev:acceptance-tests

#266 Fix code style and add owncloud coding standard in drone
  .drone.yml
  appinfo/app.php
  appinfo/application.php
  appinfo/routes.php
  controller/filehandlingcontroller.php
  tests/controller/filehandlingcontrollertest.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#270 adjust acceptance test time constant names
  tests/acceptance/features/lib/TextEditorPage.php
Labels: 4 - To release, QA-team, dev:acceptance-tests
