Repository owncloud/files_texteditor, pull requests merged in 2020-05, with the labels that each got.

#318 [Tests-Only] Restore hidden text file
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUITextEditor/editTextFiles.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#321 Use plugins/codecov:latest
  .drone.star
Labels: 3 - To review, QA-team

#322 Use realistic usernames
  tests/acceptance/features/webUIActivityList/activityList.feature
  tests/acceptance/features/webUITextEditor/createTextFiles.feature
  tests/acceptance/features/webUITextEditor/editTextFiles.feature
Labels: 3 - To review, QA-team, dev:acceptance-tests
